<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Conns>
    <Conn ConnName="default" Server="sky.bb-bb.info" Port="3309" DataBase="dailianz" UID="root" Pwd="rU8qcp6ksMs/KNnsY2pEjg=="/>
    <Conn ConnName="account" Server="sky.bb-bb.info" Port="3309" DataBase="dailianzaccount" UID="dlz" Pwd="CsKLWEdaoIpU0jDWkrvVug=="/>
    <Conn ConnName="trading" Server="sky.bb-bb.info" Port="3309" DataBase="dailianztrading" UID="dlz" Pwd="CsKLWEdaoIpU0jDWkrvVug=="/>
    <Conn ConnName="notify" Server="sky.bb-bb.info" Port="3309" DataBase="dailianznotify" UID="dlz" Pwd="CsKLWEdaoIpU0jDWkrvVug=="/>
    <Conn ConnName="promotion" Server="sky.bb-bb.info" Port="3309" DataBase="dailianzpromotion" UID="dlz" Pwd="CsKLWEdaoIpU0jDWkrvVug=="/>
  </Conns>
</configuration>
